
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Permanent+Marker&display=swap');

bodym{
  height: 100vh;
  background-color: rgb(24, 23, 23);
}

.gamem{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 200px;
  
}
.game-boardm {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-gap: 10px;
    margin-top: 0px;
    justify-content: center;
    background-image: url(./Img/water3.jpg);
    width: 450px;
    border: white solid 2px;
  }
  
  .scorem {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-family: "Permanent Marker", cursive;

  }
  .titlem{
    font-family: "Permanent Marker", cursive;
    font-size: 75px;
    background:linear-gradient(to bottom, rgb(0, 140, 255), rgb(40, 255, 244));
    -webkit-background-clip: text;
    
    color: transparent;
    font-weight: 900;
  }
  .levelm {
    width: 100px;
    height: 150px;
    grid-area: 1 / 1 / 2 / 2;
    font-family: "Permanent Marker", cursive;
    text-align: center;
    font-size: 35px;
    margin: 20px 0 0 25px;
    color: #d0e8f3;
    
}
.headm{
  display: grid;
  grid-template-columns: 0.4fr 2fr;
  grid-template-rows: 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

      }
 .div2m 
 { grid-area: 1 / 2 / 2 / 3; }
.timerBarm{
  display: block;
  width: 400px;
  border-radius: 100px;
  border: #111111 solid 4px;
  height: 30px;
  margin-right: 200px;
  background-color: #e5e8f0;
  overflow: hidden;
}

.score-timerm{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.timerm{
  display: block;
  background-color: rgba(3, 49, 146, 0.644);
  height: 30px;
  width: 100%;
  transition: width 0.2s ease-in-out;
}
.scorem{
  background-color: #48f026;
  border-radius: 10px;
  width: 180px;
  height: 55px;
  text-align:middle;
  font-weight: 900;
}
.high-scorem{
  background-color: rgb(88, 247, 25);
  border-radius: 10px;
  width: 215px;
  height: 55px;
  text-align: center;
  font-weight: 900;
  font-family: "Permanent Marker", cursive;
}

.btn-startm, .btn-stopm {
  background: #6ef005;
  background-image: -webkit-linear-gradient(top, #72ee0d, #00ccff);
  background-image: -moz-linear-gradient(top, #81f026, #00ccff);
  background-image: -ms-linear-gradient(top, #8cf139, #00ccff);
  background-image: -o-linear-gradient(top, #80f025, #00ccff);
  background-image: linear-gradient(to bottom, #8df539, #00ccff);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Permanent Marker", cursive;
  color: #292329;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-startm:hover, .btn-stopm:hover {
  background: #eafcae;
  background-image: -webkit-linear-gradient(top, #eafcae, #f26b11);
  background-image: -moz-linear-gradient(top, #eafcae, #f26b11);
  background-image: -ms-linear-gradient(top, #eafcae, #f26b11);
  background-image: -o-linear-gradient(top, #eafcae, #f26b11);
  background-image: linear-gradient(to bottom, #eafcae, #f26b11);
  text-decoration: none;
}

.iconsm{
  font-size: 40px;
  color: white;
}
.buttonsm{
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-end;
margin-top: 50px;
gap: 20px;
}
.m2 {
    width: 150px;
    height: 150px;
    background-image: url('./Img/bubble1.png');
    background-position: center;
    background-size:contain;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
  }