.mouse-hole {
  width: 90%;
  height: 90%;
  background-image: url("./Img/soil1.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Mouse-pawn-easy {
  width: 130px;
}
