.mouse-holeh {
    width: 150px;
    height: 150px;
    background-image: url('./Img/fire1.jpg');
    background-position: center;
    background-size:contain;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
  }
  
  .Mouse-pawn {
    
    width: 180px;
    
  }