.mouse-holeh {
    width: 90%;
    height: 90%;
    background-image: url('./Img/ring1.png');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
  }
  
  .Mouse-pawnh {
    
    width: 130px;
    
  }
