body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.head {
    margin-bottom: 20px;
}

.levelh {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.level-indicatorh {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(250, 125, 23);
    padding: 10px;
    border-radius: 10px;
}

.level-texth{
    font-size: 24px;
    font-weight: bold;
}

.level-labelh {
    font-size: 14px;
    width: 100px;
}

.back-arrow-hardh{
    margin-bottom: 10px;
    width: 100px;
}

.back-iconh {
    font-size: 24px;
    color: black;
}

.titleh{
    font-size: 48px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(247, 28, 28);
}

.score-timerh {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timerBarh {
    background-color: red;
    width: 200px;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
}

.timerh {
    background-color: rgb(220, 249, 87);
    width: 50%;
    height: 100%;
    display: block;
}

.high-scoreh {
    display: flex;
    align-items: center;
}

.high-score-iconh {
    font-size: 24px;
    margin-right: 10px;
}

.high-score-valueh {
    font-size: 24px;
}

.game-boardh {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-areah {
    width: 350px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    border: 2px solid white;
    margin-bottom: 20px;
}

.start-buttonh {
    background-color:  rgb(250, 125, 23);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}
