.mouse-holem {
    width: 112%;
    height: 101%;
    background-image: url('./Img/bubble1.png');
    background-position: center;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    overflow: hidden;
  }
  
  .Mouse-pawn {
    
    width: 131px;
    
  }
